@font-face{
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.fab-absolute{
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.put{
  border-width: 0px
}

.put:focus{
  outline-width: 0px
}

*::-webkit-scrollbar{
	width: 10px;
	background-color: #FFFFFF;
}

*::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,0.10);
}

*::-webkit-scrollbar-thumb:active{
  background-color: rgba(0,0,0,0.40);
}

.sub{
  position: absolute;
  top:56px;
  height: 112px;
  width: 100%;
  background-color: rgb(63,81,181);
}

.move-up {
  position: relative;
  top: 0px;
  z-index: 2;
}
